<ion-header>
  <ion-toolbar>
    <ion-title> Cart </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">


  <ion-item>
    <ion-input label="Instructions" placeholder="Anything we should know?"></ion-input>
  </ion-item>


  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <img [src]="item.image" alt="Item Image" class="image-with-border">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h6>{{ item.name }}</h6>
        <p>Type: {{ item.dishType }}</p>
        <h3 class="text-right"> R {{ item.price }}</h3>    
      </ion-label> 
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>Delivery Fee</h2>
        <h3 class="text-right"> R 50</h3>
      </ion-label> 
    </ion-item>
  </ion-list>


  <ion-item>
    <ion-label class="ion-text-wrap">
      <h2></h2>
        <h3 class="text-right"></h3>
    </ion-label>
    <ion-row>

      <ion-col size="2" style="display: flex; justify-content: center; align-items: center;">
        <ion-label class="ion-text-wrap">
        <h2>Total</h2>
      </ion-label>
      </ion-col>
      
      <ion-col size="10">
        <ion-label class="ion-text-wrap">
          <h3 class="text-right">R {{ totalPrice }}</h3> 
        </ion-label> 
      </ion-col>
    </ion-row>
  </ion-item>


   <ion-button expand="block" color="danger" (click)="clearCart()">Clear Cart</ion-button>
  
   
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid>

      <ion-row>

        <ion-col size="2" style="display: flex; justify-content: center; align-items: center;">
          <ion-icon aria-hidden="true" name="home"></ion-icon>
        </ion-col>
        
        <ion-col size="8">
          <ion-label class="ion-text-wrap">
           
            <h6>Deliver To Office</h6>
            <p>University of Pretoria, Informatics</p>    
          </ion-label> 
        </ion-col>

        <ion-col size="2" style="display: flex;  align-items: center;">
          <a>Change</a>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="6" style="display: flex;  align-items: center;">
          <ion-label>Total: R {{ totalPrice }}</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-button id="open-modal" expand="block" fill="clear" (click)="saveCart()">MAKE PAYMENT</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-footer>




  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      
        <div class="block" (click)="confirmModal()" >
          <ion-buttons >
            <ion-button color="success">Payment Succesfull</ion-button>
          </ion-buttons>
        </div>
      
    </ng-template>
  </ion-modal>

